// ================================================================================================================================================================================================================================================================================================================================
// MAIN \\
$maxWidthContainer: 1140;
$minWidthBody: 320;

:root {
  --primary: #90caf9;
  --secondary: rgb(170, 100, 123);
}
// MAIN \\
// ================================================================================================================================================================================================================================================================================================================================
